---
---

@import "{{ site.theme }}";
.title{
  cursor: pointer;
}

.btn_ext{
  display: inline-block;
  margin-bottom: 1rem;
  color: #606c71;
  background-color: rgba(255,255,255,0.08);
  border-color: #e9ebec;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  font-size: 0.9rem;
}